#section {
    padding-top: 60px;
    column-gap: 20px;
    justify-content: center;

}

#card {
    width: 333px;
    height: 480px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#card img {
    width: 335px;
    height: 335px;
    object-fit: cover;
}

#cardContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

#cardContent p {
    margin: 0;
}

#cardContent #title {
    font-size: 1.1em;
    font-weight: 500;
}

#cardContent #description {
    margin-top: 0.72em;
    font-size: 0.875em;
    line-height: 1.4;
}