#section {
    column-gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
}

#card {
    width: 333px;
    height: 367px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#card img {
    width: 335px;
    height: 187px;
    object-fit: cover;
}

#cardContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;
}

#cardContent p {
    margin: 0;
}
#cardContent #news {
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 1.6px;
    margin-bottom: 8px;
}

#cardContent #title {
    /* font-size: 1.1em; */
    font-size: 1.0625rem;
    font-weight: bold;
    line-height: 1.2;
}

#cardContent #date {
    font-size: 0.725rem;
    color: #686869;
}