#section {
    column-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

#card {
    width: 258px;
    height: 145px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#card img {
    width: 258px;
    height: 145px;
    object-fit: cover;
    border-radius: 5px;
}